@import './../../Utils/colors';

.wrapper {
    background-color: $white;
    height: 100%;
    font-size : 20px;
    font-weight: 200;
    color : $dark-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: $white 1px solid;
    border-radius: 8px 8px 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.titleStyles{
    font-weight: 400;
    margin-left: 1rem;
}

.iconStyles {
    color: $yellow;
}

.newMessageButton {
    background-color: $header-blue;
    color: $white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 5px;
    width: 8rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $medium-blue;
    }
}